#if($value)
    #foreach ($selVal in $setVals.entrySet())
    <customfieldvalue>${selVal.value.getFullData()}</customfieldvalue>###if($velocityCount != $setVals.size()),#end ## commas not needed since we use customfieldvalue wrapper
    #end
#end